<header class="sticky-header">
    <div class="header-container">
        <div class="header-left">
            <a href="/" class="logo">
                <img src="/images/GIGO logo.png" alt="GiGo Logo" class="logo-image">
            </a>
        </div>
        <div class="header-right">
            <!-- Location Dropdown -->
            <div class="location-container">
                <button class="location-button" onclick="toggleDropdown()">Location ▼</button>
                <div class="location-dropdown">
                    <input type="text" id="search-city" placeholder="Browse your city..." onkeyup="filterCities()">
                    <ul id="city-list"></ul>
                </div>
            </div>

            <!-- Login icon -->
            <div class="login-container">
                <a href="/login" class="login" aria-label="Login">
                    <img src="https://cdn-icons-png.flaticon.com/128/5264/5264565.png" alt="Login" class="login-icon">
                    <span class="tooltip-text">Login</span>
                </a>
            </div>

            <!-- Notification Bell Icon -->
            <div class="notification-container">
                <a href="/notifications" class="notification" aria-label="Notifications">
                    <img src="https://cdn-icons-png.flaticon.com/128/3602/3602123.png" alt="Notification"
                        class="notification-icon">
                    <div class="badge badge-success badge--xs" id="notification-badge"></div>
                    <span class="tooltip-text">Notifications</span>
                </a>
            </div>

            <!-- Option icon -->
            <div class="options-container">
                <a href="/options" class="options" aria-label="Options">
                    <img src="https://cdn-icons-png.flaticon.com/128/512/512222.png" alt="Options" class="options-icon">
                    <span class="tooltip-text">Options</span>
                </a>
            </div>
        </div>
    </div>
</header>