<section class="profile-container">
    <div class="container">
        <div class="row">
            <!-- Profile Image Section -->
            <div class="col-md-4 profile-left">
                <div class="profile">
                    <div class="avatar">
                        <img src="" alt="Profile Image">
                    </div>
                </div>
            </div>

            <!-- Heading Section -->
            <div class="col-md-8 profile-right">
                <h1>Provider Dashboard</h1>
                <p>Manage your work, check status, and view history seamlessly.</p>
            </div>
        </div>

    </div>

</section>